@import "tailwindcss";
@import "@nuxt/ui";

:root {
	--vp-nav-height: 0px;
	--vp-sidebar-width: 0px;
	--vp-layout-max-width: 100vw;
}

.VPContent,
.VPContent.has-sidebar,
.VPContent.is-home {
	margin: 0;
	width: 100%;
}

@media (min-width: 960px) {
	.VPContent,
	.VPContent.has-sidebar {
		margin: 0;
		padding-top: 0;
		padding-left: 0;
		padding-right: 0;
	}
}